@import '../../../styles/variables.scss';

.navbar-brand, a {
    color: $color-white;
}

span {
    color: #ffffff;
}

a {
    margin-left: 3em;

    &.active {
        border-bottom: 3px solid #ff0000;
    }

    &.hover {
        color: $color-grey;
    }
}