<nav class="navbar navbar-expand-md navbar-primary bg-primary">
  <div class="container">
    <span class="navbar-brand">ChatApp</span>
    <!--Button to toggle show/hide menu options in medium or higher viewers-->
    <button (click)="toggleCollapse()" class="custom-toggler navbar-toggler navbar-toggler-right" type="button">    
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Is showed or not depending on the value show variable in .ts file, that changes when clicking the menu button-->
    <div class="page-links collapse navbar-collapse" style="justify-content:flex-end" [class.show]="show">
      <!--The content shown depends on currentUser value (from .ts file)
      If true (user is logged) next list is shown
      If false, ng-template with id loggedOut is shown-->
      <ul class="navbar-nav navbar-right" *ngIf="currentUser else loggedOut">
        <li class="nav-item">
          <a routerLink="/chat" routerLinkActive="active" class="nav-link">Chat Rooms</a>
        </li>
        <li class="nav-item">
          <!--When clicked AuthService logout function is called-->
          <a class="nav-link" routerLinkActive="active" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- May be the better option is using the inverse logic-->
<!--*ngIf="false else loggedOut" -->
<ng-template #loggedOut>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
    </li>
  </ul>
</ng-template>