@import '../../../../../styles/variables.scss';

.chatroom-list {
    border-right: 2px solid $color-grey;
    overflow-y: scroll;

    .chatroom-list-item {
        border-bottom: 1px solid $color-grey;
        padding: 1em;
    }
}